<h1>About</h1>
<div class="about-section">
    <h1>Hi there!</h1>
    <p>The purpose of this app is very simple, you are an animal shelter caretaker!</p>
    <p>Every day, animals are brought to you and you decide whether to let them in or not.</p>
    <p>Once you have accepted an animal at the shelter, you can examine and treat it.</p> 
    <p>Treatment requires funds. But if you cure the animal, then it will</p>
    <p>be possible to give it into good hands, and the new owner will</p>
    <p>donate a small amount to you, for which you can further treat </p>
    <p>the animals, you cannot give away the weak and sick animals. Good luck!</p>
</div>
